<div class="row">

	<div class="large-3 columns">

    <%= f.label ta('assessment.contact') %>

	</div>

		<div class="large-9 columns">
	
			
			  <%#= f.collection_select :contact_id, Contact.all, :id, :name,  {prompt: true} %>

			  <%= f.collection_select :contact_id, assessor_list_for(current_user), :id, :name,  {prompt: true} %>
					
		</div>	
	
</div>