<div class="row">

	<div class="large-3 columns">

    <%= f.label tm('program') %>

	</div>

		<div class="large-9 columns">
	
			<% if is_admin_or_manager(current_user) || collaborator?(current_user) %>
			
			  <%= f.collection_select :program_id, retrieve_programs_for(current_user), :id, :program_institution_short_name,  {prompt: true} %>
				
			<% else %>
			
			  <%= f.collection_select :program_id, retrieve_programs_for(current_user), :id, :program_name,  {prompt: true} %>
			
			<% end %>
	
		</div>	
	
</div>