<% if can? :read, Institution %>        

	<ul class="left">

		<% if is_active_link?(institutions_path, :inclusive) %>

			<li class="active">
			
		<% else %>
			
			<li>

		<% end %>
	 			 			   	
	  	<%= link_to t('my.f').capitalize+' '+tm('institution'), institutions_path %></li>
 			 			   													    
  </ul>    

<% end %>