<% if can? :read, @professionalarea %>        

	<ul class="left">

		<% if is_active_link?(professionalareas_path, :inclusive) %>

			<li class="active">
			
		<% else %>
			
			<li>

		<% end %>
	 			 			   											
		  <%= link_to tm('professionalarea').to_s.capitalize.pluralize, professionalareas_path  %></li>	
		    
  </ul>    

<% end %>