<% if can? :read, User %>        

	<ul class="left">

		<% if is_active_link?(users_path, :inclusive) %>

			<li class="active">
			
		<% else %>
			
			<li>

		<% end %>
	 			 			   											
		  <%= link_to tm('user').capitalize.pluralize, users_path  %></li>	
		    
  </ul>    

<% end %>