<div class="row">

	 		<div class="large-6 columns", class: "left inline">
	
			  <%= form.label ta('institution.provisional')%><br>

			</div>
	 			 		
	 		<div class="large-6 column">
  
	   <%= form.check_box :provisional %>        	
 
			</div>

</div>