<div class="row">

	 		<div class="large-2 columns">
  
			  <%= address_fields.label ta('address.country')%><br>
 
			</div>
 
  		<div class="large-10 columns">
   
		  	<%= address_fields.collection_select :country_id, Country.registered, :id, :brname,  {prompt: true} %>
   
			</div>

</div>