<!-- This partial includes sort links, since program managers (and the system admin)
     see information from more than one institution  -->

<div class="large-3 columns">

	<th><%= sort_link(@search, :name, default_order: :desc) %></th>

</div>

<div class="large-2 columns">

	<th>

		<%=tm('regionaloffice').capitalize %>

		<%= sort_link(@search, :address_municipality_regionaloffice_num, default_order: :desc) %>

	</th>

</div>


<div class="large-2 columns">


	<th>


		<%= sort_link(@search, :address_municipality_name, default_order: :desc) %>

	</th>


</div>
