<div class="row">
		<table>

			<div class="row">

				<tr>
			
					
					<th><strong><%= ta('institution.abbreviation')%></strong></th>

				</tr>						
					
			</div>
												
		
				</div>										

			<div class="row">
		
				<tr>

					<td><%=	@institution.abbreviation %></td>
		
				
	 	 		</tr>
	  					
 	 			</div>
				 		
</table>
</div>		