
<%= render 'index_header.html.erb' %>

<% if is_admin_or_manager(current_user) %>

	<%= render 'index_table.html.erb' %>

<% else %>

   <div class="row">

	 <%= render 'index_table.html.erb' %>

   </div>

<% end %>

<% if is_admin_or_manager(current_user) %>

	<%= render 'index_search.html.erb' %>

<% end %>
