<div class="row">

  <div class="large-9 columns">


    <h5> <%= t('max_num_scholarships_offered.pap') %> </h5>


  </div>


  <div class="large-3 columns">

    <h5>
      <%= @scholarships_offered %>

    </h5>

  </div>

</div>
