
<div class="row">

		<div class="large-9 columns">


			<h5> <%= t('subtotal').capitalize %> (<%= @scholarships_authorized%> + <%= @num_previous_term_registrations_on_multiyear_programs %>)  </h5>


		</div>


		<div class="large-3 columns">

			<h5>
			 <%= @subtotal %>
			</h5>

		</div>

</div>
