

<div class="row">

		<div class="large-9 columns">


			<h5> <%= ta('placesavailable.virtual.activeregistrations') %> </h5>


		</div>


		<div class="large-3 columns">


			<h5>
				<%= @num_new_registrations_active %>
			</h5>

		</div>

</div>
