
<div class="row">

		<div class="large-9 columns">


			<h5> <%= ta('placesavailable.virtual.total.available').capitalize %>  </h5>


		</div>


		<div class="large-3 columns">

			<h5>
			 <%= @num_still_available %>
			</h5>

		</div>

</div>
