<div class="row">

	<div class="large-3 columns">

    <%= f.label ta('programsituation.goals').capitalize %>

	</div>

		<div class="large-9 columns">
	
		    <%= f.text_area :goals %>

		</div>	
	
</div>

<div class="row">

	<div class="large-3 columns">

    <%= f.label ta('programsituation.kind').capitalize %>

	</div>

		<div class="large-9 columns">
	
		    <%= f.text_area :kind %>

		</div>	
	
</div>