<div class="row">
		<table>
			<tr>
			
				<div class="large-6 columns">
		
					<th><strong><%= ta('programsituation.goals')%></strong></th>
		
				</div>

				<div class="large-6 columns">
		
					<th><strong><%= ta('programsituation.kind')%></strong></th>
		
				</div>
							
			</tr>						
		
			<div class="row">
		
				<tr>
					<div class="large-6 columns">
					
						<td><%= @programsituation.goals %></td>
					
					</div>

					<div class="large-6 columns">
					
						<td><%= @programsituation.kind %></td>
					
					</div>
										
				</tr>
		</div>

	</table>
</div>