<div class="row">
 		<div class="medium-2 columns", class: "left inline">

    <%= f.label ta('supervisor.career_start_date') %><br>

	</div>
	
	<div class="medium-6 columns select">

		<%= f.date_select(:career_start_date, prompt: true,  start_year: Date.today.year - 60, end_year: Date.today.year+5) %>

	</div>

	<div class="medium-4 columns">


	</div>

</div>

<div class="row">

 		<div class="large-2 columns", class: "left inline">

    <%= f.label ta('supervisor.contract_type') %><br>

	</div>
 		
 		<div class="large-2 columns">

 				<%= f.select(:contract_type, options_for_select(Supervisor::CONTRACTS, :selected=>@supervisor.contract_type), prompt: true) %>

	</div>

	<div class="large-8 columns">


	</div>


</div>