<div class="row">

	<table>
		<tr>
			
		<div class="large-6 columns">
			<th><strong><%= ta('supervisor.contract_type') %></strong></th>
		</div>

				
		</tr>
</div>

<div class="row">

		<tr>
		
		
			<td><%= @supervisor.contract_type  %></td>	

				
	  </tr>
	</table>

</div>