	<div class="row">

	 		<div class="large-3 columns", class: "left inline">

		  <%= f.label ta('programname.previousname') %>

			</div>


	 		<div class="large-9 columns">

						 <%= f.collection_select :ancestor_id, Programname.all, :id, :name,  {include_blank: true} %>

		  </div>
	</div>
