<div class="row">

	 		<div class="large-3 columns", class: "left inline">

      <%= f.label ta('programname.comment') %><br>
 	
			</div>
	 		
	 		<div class="large-9 columns">
  	   
				<%= f.text_field :comment %>
 
			</div>

</div>