<div class="row">

	 		<div class="large-3 columns", class: "left inline">

      <%= f.label t('activerecord.attributes.programname.pap') %><br>
 	
			</div>
	 		
	 		<div class="large-9 columns">
  	   
				<%= f.check_box :pap %>
 
			</div>

</div>

<div class="row">

	 		<div class="large-3 columns", class: "left inline">

      <%= f.label t('activerecord.attributes.programname.medres') %>
 	
			</div>
	 		
	 		<div class="large-9 columns">
  	   
				<%= f.check_box :medres %>
 
			</div>

</div>