<div class="row panel secondary">

	<fieldset>
  	<legend><%= t('situation') %>
  	</legend>

<div class="row">	    		
	<div class="large-3 columns", class: "left inline">
				<%= ta('program.active') %>

	</div>
			
	<div class="large-1 column">								
		<%= f.select :active_eq, options_for_select([['Sim', "true"], [t('Não'), "false"]]), include_blank: true %>
	</div>

	<div class="large-8 columns">								
	</div>
		
</div>

	</fieldset>
	
</div>	