<%= search_form_for @search do |f| %>

	<div class="row">

		<div class="large-3 columns">
		
			<div class="field">
			
			  <th><%= f.label ta('programname.name').capitalize %></th>
		
			</div>

		</div>
			
		<div class="large-9 columns">
		
				<%= f.text_field :name_cont %>  
		
		</div>
	    
	</div>

<% if admin_or_manager?(current_user) %>

	<%#= render 'index_search_teaching_area', f: f %>
	
	<%#= render 'index_search_inactive', f: f %>

<% end %>



<div class="row">
		    
	<div class="large-6 columns">
	
		<%= f.submit t('actions.search'), class: "buscar" %>
	
	</div>
	
</div>
	
<% end %>  