<div class="row">


    <div class="medium-3 columns", class: "left inline">

      <%= f.label :seasondebut  %>

    </div>

    <div class="medium-9 columns">


        <%= f.datetime_select(:seasondebut, prompt: true, start_year: Date.today.year+1, end_year: Date.today.year, :include_blank => true,  :discard_minute => true) %>


    </div>

</div>

<div class="row">


    <div class="medium-3 columns", class: "left inline">

      <%= f.label :seasonclosure  %>

    </div>

    <div class="medium-9 columns">


        <%= f.datetime_select(:seasonclosure, prompt: true, start_year: Date.today.year+1, end_year: Date.today.year, :include_blank => true,  :discard_minute => true) %>


    </div>

</div>
