<div class="row">

	<div class="large-3 columns">

    <%= f.label :start %><br>

	</div>

		<div class="large-9 columns select-date-wrapper <em></em>er">

	  <%= f.date_select :start,  options={prompt: true, start_year: Date.today.year-2, end_year: Date.today.year+2}, html_options = { class: 'select-date'} %>

	 </div>

</div>

<div class="row">

	<div class="large-3 columns">

    <%= f.label :finish %><br>

	</div>

		<div class="large-9 columns select-date-wrapper">

	  <%= f.date_select :finish,  options={prompt: true, start_year: Date.today.year-2, end_year: Date.today.year+6}, html_options = { class: 'select-date'} %>

	 </div>

</div>