<div class="row">

	<div class="large-3 columns">

    <%= f.label :pap %><br>

	</div>

		<div class="large-3 columns">

	    <%= f.check_box :pap %>
	
	 </div>

	<div class="large-3 columns">

    <%= f.label :medres %><br>

	</div>

		<div class="large-3 columns">

	    <%= f.check_box :medres %>
	
	 </div>

</div>
