<div class="row">

	<div class="large-8 columns">


	    	<h2> <%= t('activerecord.models.scholarship').pluralize.to_s.upcase  %> (<%= @scholarships.total_count  %> /  <%= @numscholarships %>)</h2>
 				
	</div>

	  <% if can? :create, Scholarship %>

			<div class="large-4 columns">
			 	<%= link_to image_tag('plus.png', class: "header-create-new", alt: t('actions.new.m')+' '+tm('scholarship')), new_scholarship_path %>	 

	  </div>
		  
	<% end %>
	
</div>
