
<div class="row custom-panel5">

	<h4><%= ta('characteristic.mission')%></h4>

</div>

<div class="row">
	
	<%= @characteristic.mission %>
	
</div>



<div class="row panel">

	<h4><%= ta('characteristic.corevalues')%></h4>

</div>

<div class="row">
	
	<%= @characteristic.corevalues %>
	
</div>