
<div class="nested-fields">

	<%= render 'diploma_degreetype', f: f %>

	<%= render 'diploma_school', f: f %>

	<%= render 'diploma_course', f: f %>

	<%#= render 'diploma_profession', f: f %>

	<%= render 'diploma_council', f: f %>

</div>
