	<div class="row">

		<div class="large-3 columns">
		
			<div class="field">
			
			  <th><%= f.label ta('personalinfo.tin')%></th>
		
			</div>

		</div>
			
		<div class="large-3 columns">
		
				<%= f.text_field :contact_personalinfo_tin_cont %>  
		
		</div>
		
		<div class="large-3 columns">
		
			<div class="field">
			
			  <th><%= f.label ta('student.previouscode')%></th>
		
			</div>

		</div>
			
		<div class="large-3 columns">
		
				<%= f.number_field :previouscode_eq, max: 900000000 %>  
		
		</div>
	    
	</div>
