<div class="row custom-panel2">

	<div class="large-6 columns">
	
		<%= render 'show_bank_account.html.erb' %>

	</div>
	
	<div class="large-6 columns">

		<%= render 'show_bank_branch.html.erb' %>
	
	</div>
	
</div>
