<div class="custom-panel 6">
	<div class="row">
		
		<h4>Prezados usuários das comissões locais, alguns lembretes, nesta ordem: </h4>
	
	</div>
	
	<div class="row text-justify">		

		<div class="large-1 column">

		</div>

		<div class="large-11 columns">

		<h5>
			
		  1) Lançamento de faltas e/ou licenças: <span class="label info"><%= link_to "Eventos de Cálculo -> Movimentos", events_path %></span>, sinal de mais (criar). 
	</h5>
	<h5> 2)  Relação de matrículas: <span class="label info"><%= link_to "Eventos de Cálculo -> Matrículas", registrations_path %></span> 
		
		<h5>
		 <em>Dica: cliquem na situação correspondente de modo a filtrarem corretamente o que desejam buscar e então botão "Editar", caso tenham havido cancelamentos.</em> 
		</h5>
	</h5>
	<h5>
		3) Os dados por vocês inseridos ficarão pendentes até que sejam autorizados/confirmados pela equipe do Pap.  Recordo que o período de lançamento este mês irá até o final do dia 4/10 (23h59 de terça-feira).  
	</h5>
	<h5>
	4) <em>"Last but not least"</em> se não houver nenhuma ocorrência neste ciclo da folha (exemplo: faltas, licenças, cancelamentos) em sua instituição, nenhuma ação será necessária este mês, referente a freqüências.  

	</h5>		

	  </div>
	
	</div>
	

<div class="row">
	
	<h5>Muito cordialmente,</h5>

</div>

<div class="row">
	
	<h5>Administrador do sistema</h5>

</div>

</div>

	
	