<div class="row custom-panel4">

  <h3> A partir de amanhã, sábado dia 1 de Abril, será possível lançar os movimentos referentes à próxima folha.
  O sistema continua aberto normalmente para o lançamento e edição de matrículas PA1.</h3>

</div>

<div class="row custom-panel3">

  <h5> Referente aos alunos veteranos (segundo-anistas) é necessário informar o endereço e preencher a titulação (e eventualmente
    os dados de conselho profissional), por meio das telas de edição de contato e bolsista.
    Assim será possível ver (e imprimir) os PDFs, na tela da respectiva matrícula 2017 PA2.
  <h5>

  <h6>
    Dica: ao se clicar no nome da pessoa (onde diz bolsista, primeira coluna do quadro)
    na tela da matrícula da pessoa, você será levado à tela do bolsista automaticamente.
    E analogamente na tela do bolsista, para ir rapidamente ao contato.
  </h6>

</div>

<hr class="custom-hr">
