<ul>

<% if ( is_active_link?(users_path, :inclusive) || is_active_link?(contacts_path, :inclusive) || is_active_link?(supervisors_path, :inclusive)  ) %>

	<li class="has-dropdown active">
	
<% else %>
	
	<li class="has-dropdown">

<% end %>

<a href="#"><%= t('personal_info').mb_chars.upcase %></a>

<ul class="dropdown">

	<%= render 'layouts/navbar/submenu/singular/user.html.erb' %>
	<%= render 'layouts/navbar/submenu/singular/contact.html.erb' %>
	<%= render 'layouts/navbar/submenu/singular/supervisor.html.erb' %>

  </ul>
</ul>