<!-- Right Nav Section -->
<ul class="right">

<% if is_logged_in(current_user) %>

  <li class="has-dropdown">
    <a href="#"><%= t('help').upcase %></a>
    <ul class="dropdown">

			<% if is_logged_in(current_user) %>

    		<li><%= link_to( t('actions.edit').capitalize+' '+t('my.m')+' '+tm('contact'), edit_contact_path(current_user.contact))  %></li>	
        
    		<li><%= link_to( t('change_my_password'), edit_user_path(current_user))  %></li>	

    		<li><%= link_to( t('actions.quit'), destroy_user_session_path, :method => :delete)%></li>

			<% end %>

    </ul>
  </li>

</ul>

<% end %>
