<div class="row">

	<table>
		<tr>
		
		<div class="large-4 columns">

			<th><strong><%= ta('healthcareinfo.ambulatoryrooms')%></strong></th>
	
		</div>
		
		<div class="large-4 columns">
			<th><strong><%= ta('healthcareinfo.labs')%></strong></th>
		</div>

		</tr>
</div>

<div class="row">

		<tr>
		
		<div class="large-4 columns">

			<td><%= @healthcareinfo.ambulatoryrooms %></td>
				
		</div>

		<div class="large-4 columns">
		
			<td><%= @healthcareinfo.labs  %></td>	

		</div>
			
	  </tr>
	</table>

</div>
