<div class="row">

	<table>
		<tr>
		
			<th><strong><%= ta('healthcareinfo.equipmenthighlights') %></strong></th>
	
		</tr>
</div>

<div class="row">

		<tr>
		
			<td><%= @healthcareinfo.equipmenthighlights %> </td>
					
	  </tr>
	</table>

</div>
