<div class="row">

  <div class="large-3 columns", class: "left inline">

    <%= f.label ta('admission.admitted') %>

  </div>


  <div class="large-1 column">

    <%= f.number_field :admitted, min:0 %>

  </div>

  <div class="large-3 columns", class: "left inline">

    <%= f.label ta('admission.convoked') %>

  </div>

  <div class="large-1 column">

    <%= f.number_field :convoked, min:0 %>

  </div>

  <div class="large-4 columns">

  </div>

</div>
