	<div class="row">

	 		<div class="large-2 columns", class: "left inline">

      <%= f.label t('activerecord.attributes.program.comment') %><br>
 	
			</div>
	 		
	 		<div class="large-10 columns">
  
	   <%= f.text_field :comment %>        	
 
			</div>

	</div>