<div class="panel">

	<div class="row">
	
		 		<div class="large-3 columns", class: "left inline">
	
	      <%= f.label t('activerecord.attributes.program.pap') %>
	 	
				</div>
		 		
		 		<div class="large-9 columns">
	  	   
					<%= f.check_box :pap_true %>
	 
				</div>
	
	</div>
	
	<div class="row">
	
		 		<div class="large-3 columns", class: "left inline">
	
	      <%= f.label t('activerecord.attributes.program.medres') %>
	 	
				</div>
		 		
		 		<div class="large-9 columns">
	  	   
					<%= f.check_box :medres_true %></div>
	 
				</div>
	
	</div>

</div>