<div class="row">

	 		<div class="large-2 columns", class: "left inline">

      <%= f.label t('new.m') %><br>
 	
			</div>
	 		
	 		<div class="large-2 columns">
  
	   <%= f.check_box :new %>        	
 
			</div>


	 		<div class="large-2 columns", class: "left inline">

      <%= f.label ta('program.approved') %>
 	
			</div>
	 		
	 		<div class="large-2 columns">
  	   
				<%= f.check_box :approved %>
 
			</div>

</div>