<div class="row">

 		<div class="large-2 columns", class: "left inline">

    <%= f.label ta('programname.active') %><br>
 	
		</div>
 		
 		<div class="large-10 columns">
	   
			<%= f.check_box :active %>
 
		</div>

</div>