<div class="row">
		
	<div class="large-2 columns", class: "left inline">

		<%= f.label tm('professionalspecialty') %>

	</div>
 		
 	<div class="large-10 columns">
 
		<%= f.collection_select :professionalspecialty_id, Professionalspecialty.all, :id, :fullname,  {prompt: true} %>

	</div>

</div>