<div class="row">
		
	<div class="large-2 columns", class: "left inline">

		<%= f.label t('name') %>

	</div>
 		
 	<div class="large-10 columns">
 
		<%= f.collection_select :programname_id, retrieve_programnames_for(current_user), :id, :name,  {prompt: true} %>

	</div>

</div>