<div class="row">

  <h3>

	 		<div class="large-5 columns", class: "left inline">

      	<%= t('name') %>:
 	
			</div>
	 		
		<div class="large-7 columns">
   
		<%= @program.programname.name %>
  
	</div>
	</h3>
</div>