
		<div class="panel callout">
					
				<div class="row">

					
					 		<div class="large-4 columns", class: "left inline">
				
							<%= f.label ta('schoolyears.candidates') %>
			 
						</div>
				 			 		
			 		
				 		<div class="large-2 columns">
			  
						   <%= f.number_field :candidates, min:0 %>        	
			 
						</div>
			
			
					 		<div class="large-4 columns", class: "left inline">
				
							<%= f.label ta('schoolyears.approved') %>
			 
						</div>
				 			 		
				 		
				 		<div class="large-2 columns">
			  
						   <%= f.number_field :approved, min:0 %>        	
			 
						</div>

				</div>
			
			</div>
