<div class="row">

  <div class="large-3 columns">

    <%= f.submit t('actions.search'), class: t('seek') %>

 </div>

  <div class="large-3 columns">

      <%#= render 'index_search_export', f: f %>

 </div>

  <div class="large-6 columns">

  </div>
</div>
