		<div class="row">
	
			<tr>
				<div class="large-6 columns">
				<td>
									<%= ta('accreditation.start') %>
					
							
					</td>
				
						</div>
				
							<div class="large-6 columns">
				
								<td>
	
													
										<%= I18n.l(@program.accreditation.start, format: :dmy)  %></td>
	
												
						</div>
				
			</tr>
					
	</div>