
<% if !@program.accreditation.details_on_file? && not_regular_user?(current_user) %>

	<div class="row alert-box warning">
	
		<strong><%=  t('accreditation_not_on_file') %></strong>

	</div>
	
<% end %>