<% if ( is_active_link?(programs_path, :inclusive) || is_active_link?(assignments_path, :inclusive) ) %>

	<li class="has-dropdown active">
	
<% else %>
	
	<li class="has-dropdown">

<% end %>

  <a href="#"><%= t('course').pluralize.upcase %></a>
  
    <ul class="dropdown">

   	<ul class="left">

			<% if is_active_link?(assignments_path, :inclusive) %>
	
				<li class="active">
				
			<% else %>
				
				<li>
	
			<% end %>

			  <%= link_to tm('assignment').pluralize.mb_chars.capitalize, assignments_path  %></li>	
			    
    </ul>    
	
		<ul class="left">

			<% if is_active_link?(programs_path, :inclusive) %>
	
				<li class="active">
				
			<% else %>
				
				<li>
	
			<% end %>

			  <%= link_to tm('program').pluralize.capitalize, programs_path  %></li>		
			    
    </ul>    




	    </ul>
	   </ul>
	  </ul>
	 </ul>