<% if ( is_active_link?(permissions_path, :inclusive) || is_active_link?(roles_path, :inclusive) )  %>

	<li class="has-dropdown active">
	
<% else %>
	
	<li class="has-dropdown">

<% end %>

  <a href="#"><%= t('restricted_access').upcase %></a>

    <ul class="dropdown">


		<div class="row"> <%= render 'layouts/navbar/submenu/roles.html.erb' %>	</div>	
		<div class="row"> <%= render 'layouts/navbar/submenu/permissions.html.erb' %> </div>

	  </ul>
