<div class="row">

<h4> <%= tm('municipality').capitalize.pluralize %></h4>

</div>

<% @regionalofficemunicipalities.each do |municipality| %>

	<div class="row">
				
		<p><%= link_to municipality.name, municipality_path(municipality.id) %> 
		
		</p>
		
	</div>		 
				 
<% end %>

<div class="row">

  <%= paginate @regionalofficemunicipalities %>
		 
</div>