<div class="row">

	<div class="large-8 columns">


	    	<h2> <%= t('activerecord.models.professionalarea').pluralize.to_s.upcase  %> (<%= @professionalareas.total_count  %> /  <%= @numprofessionalareas %>)</h2>
 				
	</div>

	  <% if can? :create, Professionalarea %>

			<div class="large-4 columns">
			 	<%= link_to image_tag('plus.png', class: "header-create-new", alt: t('actions.new.m')+' '+tm('professionalarea')), new_professionalarea_path %>	 

	  </div>
		  
	<% end %>
	
</div>
