<div class="row">

      <div class="large-2 columns", class: "left inline">

		    <%= f.label t('new.f')+' '+ta('user.password') %><br>
	
   		</div>

      <div class="large-10 columns">
			    
				<%= f.password_field :password %>  	
   		
   		</div>

      <div class="large-2 columns", class: "left inline">

		    <%= f.label t('actions.repeat') %><br>
	
   		</div>

      <div class="large-10 columns">
		
				<%= f.password_field :password_confirmation %>	    
				
   		</div>
 
 </div>