<div class="row custom-panel7">

<h4> <%= link_to t('users_with_incomplete_contact_information_detected'), contacts_path %> </h4>
</div>

<div class="row">

  <h5> <%= t('shortcut').capitalize %>: <%= t('click_the_above_message_to_jump_directly_to_the_contacts_page_and_learn_more')  %> </h5>

</div>
