<div class="row">

	<div class="large-9 columns">

		<%# if is_own_user(current_user) || regular_user?(current_user) %>
		<% if regular_user?(current_user) %>

			<h2><%= t('actions.edit')+' '+t('my.m')+' '+tm('user') %></h2>

		<% else %>

			<h2><%= t('noun.edit')+' '+tm('user')%></h2>

		<% end %>

	</div>

</div>

<%= render 'form' %>
