			<div class="row">
	
				
			 		<div class="large-3 columns", class: "left inline">
			
				    <%= accreditation_fields.label ta('accreditation.comment')  %><br>
		
					</div>
			 		
			 		<div class="large-9 columns">
		  
	
				  	<%= accreditation_fields.text_field :comment %>        	
		  	
					</div>
		
			</div>	 		
