
		
			<div class="row">
	
			
				
			 		<div class="large-3 columns", class: "left inline">
			
				    <%= accreditation_fields.label ta('registration.accreditation.revocation')  %><p></p>
		
					</div>
			 		
			 		<div class="medium-9 columns">
		  		  		
							<%= accreditation_fields.date_select(:revocation, prompt: true,  start_year: Date.today.year, end_year: Date.today.year-1, :include_blank => true) %>

					</div>
					
				
					
			</div>	 		

