
<div class="large-3 columns", class: "left inline">


  <h5>

      <%= ta('registration.schoolyear_id')%> <p></p>

  </h5>

  </div>

  <div class="large-9 columns">

  <h5 class="subheader">

        <%= display_details %>

  </h5>

  </div>
