<div class="row panel custom-panel2">

	<fieldset>
  	<legend><%= t('authorization') %><%= ' '%>(<%= t('optional') %>)
  	</legend>

			<div class="row">

					<%= render 'index_search_confirmation_details.html.erb', f: f %>

			</div>


	</fieldset>

</div>
