	<div class="row">

		<div class="large-2 columns">

			<div class="field">

				<%= f.label tm('institution') %>

			</div>

		</div>

		<div class="large-10 columns">

			<div class="field">

				<%= f.select :student_contact_user_institution_id_eq, options_from_collection_for_select(Institution.all, :id, :name), 		include_blank: true %>

			</div>

		</div>

	</div>
