
<div class="row text-center">

  <h4> <%= t('report').capitalize.pluralize %> </h4>

</div>


  <div class="row">

  <%= link_to "CSV", registrations_path(format: "csv"), class: 'relatorio2' %>

</div>

<%#= link_to "Excel", products_path(format: "xls") %>
