	<div class="row">

		<div class="large-2 columns">

			<div class="field">

			  <th><%= f.label ta('student.virtual.name') %></th>

			</div>

		</div>

		<div class="large-7 columns">

				<%= f.text_field :student_contact_name_cont %>

		</div>

		<div class="large-2 columns">

			<%= f.label ta('schoolyears.programyear')%>

		</div>


		<div class="large-1 columns">

			<%= f.number_field :schoolyear_programyear_eq, min:1, max: 2 %>

		</div>



	</div>
