	<div class="row">

		<div class="large-2 columns">

			<div class="field">

				<%= f.label tm('schoolterm') %>

			</div>

		</div>

		<div class="large-10 columns">

			<div class="field">

				<%= f.select :schoolyear_program_schoolterm_id_eq, options_from_collection_for_select(Schoolterm.all, :id, :name), 		include_blank: true %>

			</div>

		</div>

	</div>
