<div class="row">

		<div class="large-3 columns">

			<%= f.label t('year')%>

		</div>


		<div class="large-3 columns">

			<%= f.number_field :schoolyear_programyear_eq, min:1, max:2 %>  

		</div>

</div>
