<div class="row">
			<tr>

				<div class="large-3 columns">

					<th><strong><%= tm('event').capitalize %></strong></th>

				</div>

				<div class="large-3 columns">

					<th><strong><%= ta('event.start') %></strong></th>

				</div>

				<div class="large-3 columns">

							<th><strong><%= ta('event.finish') %></strong></th>

				</div>

				<div class="large-3 columns">

							<th><strong><%= ta('event.virtual.actualdays') %></strong></th>

				</div>

			</tr>
	</div>
