<div class="row">

  <h5>

  <strong><%= t('created_at')%></strong>


  <%= I18n.l(@registration.created_at) %>

</div>

  <div class="row">

  <span data-tooltip aria-haspopup="true" class="has-tip" title="Data (de criação do registro) de matrícula"><%= t('help') %></span>

  <h5>

</div>
