
<div class="row">

	<hr>

		<%= image_tag @registration.supportingdocumentation.url.to_s %>

	<hr>

</div>

<div class="row">

<h5>
Arquivo:

   <u>

	<%= link_to @registration.supportingdocumentation.to_s.split("/").last, asset_url(@registration.supportingdocumentation.url)           %>
        </u>


</h5>
</div>
