<div class="row">

	<tr>
		<div class="large-6 columns">
			
			<td><%= ta('registration.accreditation.suspension') %></td>

		</div>

		<div class="large-6 columns">

			<td><%= I18n.l(@registration.accreditation.suspension, format: :dmy)  %></td>

		</div>

		</tr>

</div>