<div class="row text-center">

		<div data-alert class="alert-box warning">

				<h3><%= t('no_incoming_students_found').capitalize %></h3>

  	</div>

		</div>

</div>

<div class="row">

	<h4>
		Isto é um aviso de que, caso queira tentar matricular mais alunos, primeiro será preciso cadastrar os respectivos dados do bolsista.
	</h4>
