<div class="row text-center">

		<div data-alert class="alert-box warning">

		<h3><%= t('no_unregistered_students_found') %></h3>

	</div>
	
</div>

<div class="row">
	
	<%= link_to t('back'), registrations_path, class: t('back') %>

</div>