<%= render 'index_header.html.erb' %>

<div class="row">

	<%= render 'index_table.html.erb' %>

	<%= render 'index_search.html.erb' %>
	
</div>

<%#= link_to t('actions.report'), registrations_reportactive_path, class: 'small button info'%> | 
