<div class="row">

	<h4 class="subheader"> <%= t('scholarship_contract') %></h4>


			<%= link_to t('scholarship_contract'), legalform_registration_path(@registration), class: "relatorio3", :onclick => "alert('#{t('please_wait_for_processing')}')"    %>  
					 
					

	<hr>
	
</div>

