<div class="row">

	<h4 class="subheader"> <%= t('scholarship_registration_confirmation_receipt') %></h4>


			<%= link_to t('scholarship_registration_confirmation_receipt'), receipt_registration_path(@registration), class: "relatorio3", :onclick => "alert('#{t('please_wait_for_processing')}')"    %>  
					 					

	<hr>
	
</div>

