<div class="row">


    <div class="large-3 columns", class: "left inline">

      <%= f.label :paymentdate  %>

    </div>

    <div class="medium-9 columns">


        <%= f.date_select(:paymentdate, prompt: true, start_year: Date.today.year+1, end_year: Date.today.year, :include_blank => true) %>


    </div>

</div>
