<div class="row">


    <div class="large-3 columns", class: "left inline">

      <%= f.label :monthworked  %>

    </div>

    <div class="medium-9 columns select-date-wrapper">


        <%= f.date_select(:monthworked, prompt: true, start_year: Date.today.year, end_year: Date.today.year - 1, :include_blank => true, discard_day: true) %>


    </div>

</div>
