<div class="row">
		<table>
			<tr>

							<div class="large-6 columns">

								<th><strong><%= ta('payroll.dataentrystart')%></strong></th>

							</div>


							<div class="large-6 columns">

								<th><strong><%= ta('payroll.dataentryfinish')%></strong></th>

							</div>


			</tr>

			<div class="row">

				<tr>

					<div class="large-6 columns">

						<td><%= I18n.l(@payroll.dataentrystart) %></td>

					</div>

					<div class="large-6 columns">

						<td><%= I18n.l(@payroll.dataentryfinish) %></td>

					</div>


				</tr>

		</div>

	</table>
</div>
