<%= render 'index_header.html.erb' %>

<% if @councils.total_count>0 %>

	<div class="row">

		<%= render 'index_table.html.erb' %>

	</div>
	
	<% if @councils.total_count>1 %>

		<%= render 'index_search.html.erb' %>

	<% end %>
	
<% end %>