<h2> <%= t('noun.edit')+' '+tm('researchcenter')%> </h2>

<% if local_admin?(current_user) %>

	<div class="row">

		<h2 class="subheader"><%= @researchcenter.institution.name %> </h2>

	</div>

<% end %>

<%= render 'form' %>