	<div class="row">

		<div class="large-3 columns">									
		
			<div class="field">
			
			  <th><%= f.label tm('registration')%></th>
		
			</div>

		</div>
			
		<div class="large-9 columns">
				
				<%= f.select :registration_id_eq, options_from_collection_for_select(@registrations_with_statements, :id, :student_name), 		include_blank: true %>
	
		</div>
	    
	</div>
