<div class="custom-panel3">

  <h4>

  <div class="row">

    Prezados membros das comissões locais,

  </div>

   </h4>


    <p>Por gentileza editem e confirmem os dados referentes aos processos seletivos dos programas mais recentes (período letivo 2017)
      de sua instituição. </p>

  <p>O procedimento é intuitivo e auto-explicativo, com as mensagens de ajuda, como vocês já estão acostumados.</p>

  <p>Programei uma série de regras lógicas de modo a dar uma maior confiabilidade estatística aos dados.</p>

  <p><em>Em caso de eventuais dúvidas, podem entrar em contato diretamente com a equipe do Pap. </em></p>

  <%= link_to "Programas->Processos Seletivos", admissions_path, class: 'small button warning' %>

  <p> Muito cordialmente, </p>

  <p> Prof. Marcelo Eduardo Redoschi</p>

  <p> Desenvolvedor / Administrador do sistema </p>

</div>
