<div class="panel callout">

<div class="row">

<h6>
      O sistema está fechado para os lançamentos de movimentações, portanto algumas opções aparecerão como "mostrar" somente.

</h6>

	<h6>Aviso referente aos demonstrativos </h6>

	<p>
		Eles agora podem ser consultados diretamente em sua própria tela.


		Dica: lá é possível filtrar pelo pagamento bancário desejado, antes de gerar o PDF.

		Clique em "Procurar" após selecionar o mês.

</p>

		<%= link_to "Financeiro -> Demonstrativos", statements_path, class: "small button warning"  %>

</div>

</div>
