<div class="row custom-panel7">
  <div class="row text-center">
    <h3><%= t('registration_season_ended') %> </h3>
  </div>
</div>

<div class="row custom-panel4">
  <div class="row text-center">
    <h4><%= t('kind_regards') %> </h4>
    <h4><%= t('system_developer') %> </h4>
  </div>
</div>
