<div class="row">

	<h1><%= display_department_name(current_user)%> </h1>

	<div class="row">

		<% if @num_payrolls.positive?  %>

		<%= render 'data_entry_reminders.html.erb'%>

		<% end %>

	</div>

	<%= render 'user_stats.html.erb'%>
