<div class="row">

	<div class="large-3 columns">

		<%= f.label ta('event.confirmed') %>

	</div>

	<div class="large-1 column">

		<%= f.check_box :confirmed_true %>

	</div>

	<div class="large-3 columns">

		<%= f.label ta('event.virtual.pending') %>

	</div>

	<div class="large-1 column">

		<%= f.check_box :confirmed_false %>

	</div>


</div>
