<div class="row">

	<div class="large-3 columns">

			<div class="field">
		
				<%= f.label tm('schoolterm') %>
			
			</div>

		</div>
			
		<div class="large-9 columns">

					
				<%= f.select :schoolterm_search, options_from_collection_for_select(Schoolterm.eventful, :id, :name), 		include_blank: true %>
					
			</div>
	 </div>

</div>