<div class="row text-center">

		<div data-alert class="alert-box info">

		<h3><%= t('none.m')+' '+t('found.m') %></h3>

	</div>
	
</div>

<div class="row">
	
	<%= link_to t('back_to_start_page'), root_path, class: 'voltar' %>

</div>