<div class="row">
		
			<div class="large-3 columns">
					
				<%= f.label :pap_true, ta('event.residual')%>
			
			</div>
		
			<div class="large-9 columns">
												
				<%= f.check_box :residual_true %>
					
			</div>
		
</div>