<div class="row panel custom-panel7">

	<fieldset>
  	<legend>Filtro opcional.  Tique em falta ou selecione um tipo de licença para refinar a busca.
  	</legend>

			<div class="row">

					<%= render 'index_search_kind_details.html.erb', f: f %>


			</div>


	</fieldset>

</div>
