  <thead>
    <tr>

    	<div class="row">
    
	  		
		    	<div class="large-5 columns">

	  				<th><%= sort_link(@q, :name, t('activerecord.attributes.professionalfamily.name')) %></th>
      
    			</div>
    			        
							
		    	<div class="large-2 columns">

	  				<th><%= sort_link(@q, :familycode, t('activerecord.attributes.professionalfamily.familycode')) %></th>
      
    			</div>
    			        
				
		    	<div class="large-1 column">

	  				<th><%= sort_link(@q, :pap, t('activerecord.attributes.professionalfamily.pap')) %></th>
      
    			</div>
    			        
				
		    	<div class="large-1 column">

	  				<th><%= sort_link(@q, :medres, t('activerecord.attributes.professionalfamily.medres')) %></th>
      
    			</div>
    			        
				
		    <div class="large-3 columns">

      		<th colspan="3"></th>

				</div>
				
			</div>
		
    </tr>
    
  </thead>