<% if can? :read, @contact %>        

	<ul class="left">
	
	<% if is_active_link?(contacts_path, :inclusive) %>
	
		<li class="active">
		
	<% else %>
		
		<li>
	
	<% end %>
		  	
	<%= link_to tm('contact').pluralize.to_s.upcase, contacts_path %></li>

</ul>

<% end %>