<div class="large-1 column">
  <td>
    <% if can? :read, contact %>
      <%= link_to t('actions.show'), contact, class: 'mostrar' %>
    <% end %>
  </td>
</div>

<div class="large-1 column">
  <% if can? :update, contact %>
    <td><%= link_to t('actions.edit'), edit_contact_path(contact), class: 'editar' %></td>
  <% end %>
</div>

<div class="large-1 column">
  <% if can? :destroy, contact %>
    <td><%= link_to t('actions.delete'),contact, :method => :delete, data: { confirm: t('confirm.delete') }, class: 'remover' %></td>

  <% end %>
</div>
