<div class="row custom-panel10">
  <div class="row text-center">
  <h4> <%= t('nameless_contacts_exist') %></h4>
  </div>

  <div class="row">

    <h5>    <%= t('you_must_edit_or_remove_them').capitalize %>
  </div>

</div>

<div class="row custom-panel3">
  <h6>    <%= t('this_warning_will_automatically_disappear') %> </h5>

  <h6>        <%= t('in_case_of_doubt_please_contact_the_team') %></h6>
</div>
