<div class="row custom-panel7">
  <div class="row text-center">
  <h4> <%= t('reminder') %>: <%= t('there_are_contacts_which_may_become_students').downcase %>
    , <%= t('after_the_complete_data_is_entered') %></h4>
  </div>

</div>
