	<div class="row">

		<div class="large-3 columns">

			<%= f.label tm('role').capitalize %>

		</div>

		<div class="large-4 columns">

			<%= f.select :role_id_eq, options_from_collection_for_select(Role.from_contacts, :id, :name), 		include_blank: true %>

		</div>

		<div class="large-1 columns">

			  <th><%= f.label ta('user.email') %></th>

		</div>

		<div class="large-4 columns">

				<%= f.text_field :user_email_cont %>

		</div>

	</div>
