

<div class="row">

  <hr class="custom-hr ">

      <%= link_to 'Solicitação de abertura de conta no Banco do Brasil (PDF)', bankletter_contact_path(@contact), class: "relatorio3", :onclick => "alert('#{t('please_wait_for_processing')}')"    %>

      <h5>Obs: este documento deve ser gerado <u>somente</u> em caso de ausência de conta bancária no Banco do Brasil.</h5>

      <h5><em>O sistema não permite que seja confirmado o cadastro de bolsistas sem dados bancários. </em></h5>

      <hr class="custom-hr ">

</div>
