<div class="row">

	<div class="large-8 columns">


	    	<h2> <%= tm('feedback').capitalize.pluralize+' '+t('and')+' '+t('supplemental_remittance').pluralize  %> (<%= @feedbacks.total_count  %> /  <%= @numfeedbacks %>)</h2>
 				
	</div>

	  <% if can? :create, Feedback %>

			<div class="large-4 columns">
			 	<%= link_to image_tag('plus.png', class: "criar", alt: t('actions.new.m')+' '+tm('feedback')), new_feedback_path %>	 

	  </div>
		  
	<% end %>
	
</div>
