<table>
				<tr>

					<div class="row">
	
						<div class="large-6 columns">
						
							<th><strong><%= t('belongs.pap') %></th>
	
						</div>
	
						<div class="large-6 columns">
	
							<th><strong><%= t('belongs.medres') %></th>
	
						</div>
	
	
					</div>
					
				</tr>
			
				<tr>
				
					<div class="row">
					
						<div class="large-6 columns">								
							<td><%= f.check_box :pap %></td>	
						</div>				

						<div class="large-6 columns">								
							<td><%= f.check_box :medres %></td>	
						</div>				

					</div>				
			  </tr>
	</table>