<div class="row">

	 		<div class="large-2 columns", class: "left inline">
	
		  <%= f.label tm('supervisor') %><br>

			</div>
	 		
	 		<div class="large-10 columns">
   
   			<%= f.collection_select :supervisor_id, Supervisor.pap, :id, :institution_contact_name,  {prompt: true} %>
  
			</div>

</div>