<div class="row">

	 		<div class="large-2 columns", class: "left inline">
	
		  <%= f.label tm('program') %><br>

			</div>
	 		
	 		<div class="large-10 columns">
   
		  	<%= f.collection_select :program_id, Program.from_own_institution(current_user).pap, :id, :program_name %>
  
			</div>

</div>
