<div class="row">

	<div class="large-3 columns">

			<div class="field">
		
				<%= f.label "ID" %>
			
			</div>

		</div>
			
		<div class="large-9 columns">

			<div class="field">
					
				<%= f.number_field :id_eq %>
					
			</div>
	 </div>

</div>
