<% if can? :read, Characteristic %>        

	<ul class="left">

		<% if is_active_link?(characteristics_path, :inclusive) %>

			<li class="active">
			
		<% else %>
			
			<li>

		<% end %>
	 			 			   											
		  <%= link_to tm('characteristic').capitalize.pluralize, characteristics_path  %></li>	
		    
  </ul>    

<% end %>