<% if can? :read, College %>        

	<ul class="left">

		<% if is_active_link?(colleges_path, :inclusive) %>

			<li class="active">
			
		<% else %>
			
			<li>

		<% end %>
	 			 			   											
		  <%= link_to tm('college').capitalize.pluralize, colleges_path  %></li>	
		    
  </ul>    

<% end %>