<div class="row">

	<div class="large-8 columns">


	    	<h2> <%= t('activerecord.models.taxation').pluralize.mb_chars.upcase  %> (<%= @taxations.total_count  %> /  <%= @numtaxations %>)</h2>
 				
	</div>

	  <% if can? :create, Taxation %>

			<div class="large-4 columns">
			 	<%= link_to image_tag('plus.png', class: "header-create-new", alt: t('actions.new.m')+' '+tm('taxation')), new_taxation_path %>	 

	  </div>
		  
	<% end %>
	
</div>
