<div class="row">

	<h3> <%= ta('taxation.socialsecurity')%> </h3>

</div>

<div class="row">
		<table>
			<tr>
			
							<div class="large-4 columns">
					
								<th><strong><%= t('percent')%></strong></th>
					
							</div>
					
							
			</tr>						
		
			<div class="row">
		
				<tr>
					<div class="large-12 columns">
					
						<td><%= @taxation.socialsecurity %></td>
					
					</div>
										
				</tr>
		</div>

	</table>
</div>

