

<p>Olá <%= @resource.contact.name %> <%= @resource.email %>!</p>

	<p>Foi solicitada a criação de uma nova senha de acesso ao sistema do PAP.  É possível fazer isto por meio do link abaixo.</p>

	<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

	<p>Se não tiver sido você que fez a solicitação pode desconsiderar esta mensagem.</p>
	<p>Sua senha não mudará enquanto você acessar o link acima e criar uma nova.</p>
	<h4>Esta mensagem foi gerada automaticamente, favor não responder ao endereço de e-mail que a enviou.</h4>


	<p>Cordialmente,</p>
	
	<p>Administrador do Sistema</p> 
