<div class="row">

    <div class="large-4 columns", class: "left inline">

    <%= f.label ta('admission.appealsdeniedfirstexam') %>

  </div>


  <div class="large-2 columns">

     <%= f.number_field :appealsdeniedfirstexam, min:0 %>

  </div>

    <div class="large-4 columns", class: "left inline">

    <%= f.label ta('admission.appealsdeniedfinalexam') %>

  </div>

<div class="large-2 columns">

     <%= f.number_field :appealsdeniedfinalexam, min:0 %>

  </div>


</div>
