<% if admin_or_adminreadonly?(current_user) || manager?(current_user) %>

  <li class="has-dropdown">
    <a href="#">Admin</a>
    <ul class="dropdown">
    
     <li><%= link_to "Todos os contatos", contacts_path %></li>
                  
		 <li><%= link_to "Todos os usuários", users_path %></li>

    </ul>
  </li>

<% end %>